EMAIL_HOST=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_USERNAME=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_REFRESH_SECRET=
JWT_SECRET=
LNBITS_ADMIN_KEY=
LNBITS_INVOICE_KEY=
LNBITS_URL=
OPENNODE_API_KEY=
SMS_API_KEY=
SMS_PROVIDER=
SPARK_WEBHOOK_SECRET=